<%- include('../layout/head.ejs')%>
<%- include('../layout/navbar_admin.ejs')%>

<div class="container d-flex justify-content-center mt-4">
    <div class="bg-light p-1 rounded-3 shadow" style="height: auto; width: 100%">
        <div class="text-end p-2"><img src='images/user.png' height='25px' width='25px'> GIS Admin
    </div>
    <div class="p-2 h5"><b><u>กิจกรรมแผนงบประมาณ</u></b></p>

</div>

<% if (resultmsg == 'added') { %>
    <div class='alert alert-success p-2 m-2 text-center'><i class="fa fa-check-square" aria-hidden="true"></i> เพิ่มข้อมูลในระบบแล้ว</div>
    <% } else if (resultmsg == 'updated') { %>
    <div class='alert alert-success p-2 m-2 text-center'><i class="fa fa-check-square" aria-hidden="true"></i> เพิ่ม/ปรับปรุงข้อมูลในระบบแล้ว</div>       
    <% } else if (resultmsg == 'error') { %>
    <div class='alert alert-danger p-2 m-2 text-center'><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> ดำเนินการล้มเหลว มีบางอย่างผิดพลาด กรุณาลองใหม่อีกครั้ง</div>      
    <% } else if (resultmsg == 'error_add') { %>
        <div class='alert alert-danger p-2 m-2 text-center'><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> ดำเนินการล้มเหลว มีบางอย่างผิดพลาด หรือชื่อกิจกรรมนี้มีอยู่แล้ว กรุณาลองใหม่อีกครั้ง</div>     
    <% } %>

<table class="table table-hover" style='font-size:14px'>
    <th>รหัส*</th>
    <th>ชนิดข้อมูล</th>
    <th>ชื่อกิจกรรม</th>
    <th></th>
    <th  class="text-center">การอนุญาต</th>
    <tr bgcolor="#FFFFAA" ><form method='POST' action='/update_act'>
        <td><b>เพิ่มกิจกรรม</b></td>
        <td>
            <select class='form-select p-1' name='acttype' style='font-size:14px'>
                <option value='point'> &#x2219; Point</option>
                <option value='line'> &#8736; Line</option>
                <option value='polygon' selected> &#x2B22; Polygon</option>
            </select>
        </td>
        <td><input class='form-control p-1' style='font-size:12px' type='text' value='' name='actname'></td>
        <td class="text-center"><input class='btn btn-warning p-1 px-2' style='font-size:12px' type='submit' value='เพิ่ม'></td>
        <td></td>
        </form>
    </tr>

    <% for (var i = 0; i < data.length; i++) { %> 
        <tr><form method='POST' action='/update_act'>
            <td><%= data[i].actkey %><input type="hidden" value="<%= data[i].actkey %>" name="actkey"></td>
            <td>
            <% if (data[i].acttype == "point") { %>&#x2219; Point <input type="hidden" value="point" name="acttype"><% } %>
            <% if (data[i].acttype == "line") { %>&#8736; Line <input type="hidden" value="line" name="acttype"><% } %>
            <% if (data[i].acttype == "polygon") { %>&#x2B22; Polygon <input type="hidden" value="polygon" name="acttype"><% } %>
            </td>
            <td><input class='form-control p-1' style='font-size:12px' type='text' value='<%= data[i].actname %>' name='actname'></td>
            <td class="text-center"><input class='btn btn-primary p-1' style='font-size:12px' type='submit' value='อัพเดท'></td>
            <td class="text-center">
                <% if (data[i].allow == "1") { %>
                    <a href="/act_checked?check=0&actkey=<%= data[i].actkey%>"><img src="images/checked.svg"></a>
                <% } else { %>
                    <a href="/act_checked?check=1&actkey=<%= data[i].actkey%>"><img src="images/unchecked.svg"></a>
                <% } %>
            </td>
        </form></tr>
    <% } %>
</table>
<div class='p-2' style="font-size:12px;">
    - คีย์หลัก (primary key) ระบบจะสร้างอัตโนมัติ เพื่อป้องกันข้อผิดพลาด<br>
</div>
</div>
</div>

<%- include('../layout/footer.ejs')%>