<%- include('layout/head.ejs')%>
<%- include('layout/navbar.ejs')%>

<div class="container d-flex justify-content-center mt-4" style='display:none;'>
    <div class="bg-light p-1 rounded-3 shadow border" style="height: auto; width: 100%">
    <div id="overlay"></div>
    <div class="text-end p-2"><img src='images/user.png' height='25px' width='25px'> <%= off %></div>
    <div class='text-center h5 p-3'><img src='images/item.svg' height='40px' width='40px'><b><u>รายการข้อมูล</u></b></p>

    <div class="text-end" id="showmap"><i class="fa fa-plus-square" aria-hidden="true" onclick="showmap()"><small> แสดงแผนที่</small></i>
    </div>

    <div class="text-end" id="hidemap"><i class="fa fa-minus-square" aria-hidden="true" onclick="hidemap()"><small> ซ่อนแผนที่</small></i>
        <div id="map" class="my-2 rounded-3" style="height: 450px; width: 100%"></div>
    </div>


</div>
    <% if (resultmsg == 'added') { %>
    <div class='alert alert-success p-2 m-2 text-center'><i class="fa fa-check-square" aria-hidden="true"></i> เพิ่มข้อมูลในระบบแล้ว</div>
    <% } else if (resultmsg == 'updated') { %>
    <div class='alert alert-success p-2 m-2 text-center'><i class="fa fa-check-square" aria-hidden="true"></i> เพิ่ม/ปรับปรุงข้อมูลในระบบแล้ว</div>       
    <% } else if (resultmsg == 'shp_err') { %>
    <div class='alert alert-danger p-2 m-2 text-center'><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> อัพโหลด Shape file ล้มเหลว Shape file อาจเสียหาย หรือไฟล์อัพโหลดไม่ตรงตามเงื่อนไขที่แจ้ง กรุณาดำเนินการใหม่อีกครั้ง</div>      
    <% } else if (resultmsg == 'deleted') { %>
    <div class='alert alert-success p-2 m-2 text-center' id="msg"><i class="fa fa-check-square" aria-hidden="true"></i> ลบข้อมูลแล้ว</div>      
    <% } %>

    <table class="table table-hover">
        <th></th>
        <th>หน่วยงาน</th>
        <th>กิจกรรม</th>
        <th>แก้ไขล่าสุด</th>
        <th>หมายเหตุ</th>
        <th class='text-center'>ตัวเลือก</th>

        <% if(result.length == 0){ %>
            </table><div class='text-center h6 p-2'><div class='alert alert-secondary p-2 m-1 text-center h6'><b>ไม่มีข้อมูล</b> สามารถเพิ่มข้อมูลโดยคลิกที่ &nbsp เพิ่มข้อมูล <span style="font-size:14px;">▾</span> &nbsp ที่แถบเมนูด้านบน </div></div>
        <% } else { %>
        <% Object.values(result).forEach(function(item) {%>

        <tr>
            <td>
                <i style="color:<%= item.color%>" class="fa fa-circle" aria-hidden="true"></i>
            </td>
            <td><%= item.offname %></td>
            <td>
                <% if(item.type == 'point'){ %>
                    <img src='images/point.svg' height='20px' width='20px'>
                <% } else if (item.type == 'line'){ %>  
                    <img src='images/line.svg' height='20px' width='20px'>
                <% } else { %>  
                    <img src='images/polygon.svg' height='20px' width='20px'>
                <% } %>
                
                <% if(item.overlap_data != ''){ %><a onclick="gotoEdit('<%=item.idkey%>')" class='btn btn-danger p-1 mx-0 my-0' style='font-size:10px;'>พบการทับซ้อน</a> <% } %><%= item.actname + " ปี พ.ศ." + item.year + " จำนวน " + item.amount %></td>
            <td><%= item.date %></td>
            <td><%= item.note %></td>
            <td class='text-center'>
                <div class='dropdown show dropleft'>
                <a class='btn btn-primary dropdown-toggle' href='#' role='button' data-toggle='dropdown' id='dropdownMenuLink' aria-haspopup='true' aria-expanded='false'>
                    
                </a>

                <div class='dropdown-menu' aria-labelledby='dropdownMenuLink'>
                    <a class='dropdown-item' href='/export_layout?idkey=<%= item.idkey %>'>สร้างแผนที่ (A4)</a>
                    <a class='dropdown-item' onclick="gotoEdit('<%=item.idkey%>')">แก้ไข</a>
                    <a class='dropdown-item' onclick="deleteConfirm('<%=item.idkey%>')">ลบ</a>
                    <div class='dropdown-divider'></div>
                    <a class='dropdown-item' onclick="reportDataConfirm('<%=item.idkey%>')">ข้อมูลเชิงพื้นที่</a>
                    <a class='dropdown-item' href='/coordinate?idkey=<%=item.idkey%>'>ตารางค่าพิกัด</a>
                    <div class='dropdown-divider'></div>
                    <a class='dropdown-item' href='/dwl/zip/<%= item.publickey %>'>ดาวน์โหลด Shape file (.zip)</a>
                    <a class='dropdown-item' href='/dwl/kml/<%= item.publickey %>'>ดาวน์โหลด KML file</a>
                </div>
                </div>
            </td>
        </tr>
        <% }) } %>
    </table>
    </div>
    </div>
</body>
</html>

<script>
    
    var map = new L.Map('map',{zoomControl:true, maxZoom:18, minZoom:8, maxNativeZoom: 18, minNativeZoom: 8, zoomSnap: 0.5, fullscreenControl: true, fullscreenControlOptions: { position: 'topleft'}}).setView([18.81,100.79], 8.5);
    var autolinker = new Autolinker({}); //ดึงเข้ามูลใน json มาแสดงในคำอธิบาย
    
    var bounds_group = new L.featureGroup([]); // group เอาไว้ใส่ชนิดข้อมูล
    var point_gp = new L.featureGroup([]);
    
    map.attributionControl.setPrefix('G1S.mapr ศูนย์ภูมิสารสนเทศเพื่อการจัดการต้นน้ำน่าน &middot Leaflet &middot OpenStreetMap');
    
    //สเกล
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    }).addTo(map);
    
    L.control.scale().addTo(map); 

    function notixxx (feature, layer) {
                var popupContent = '' + (feature.properties['DESC_'] !== null ? autolinker.link(feature.properties['DESC_'].toLocaleString()) : '') + '';
                layer.bindPopup(popupContent, {maxHeight: 400});
            }
    '<% for (var i = 0; i < result.length; i++) { %>'

    map.createPane('pane<%- result[i].idkey %>');
    map.getPane('pane<%- result[i].idkey %>').style.zIndex = 400;
    
    
    var item<%- result[i].idkey %> = new L.geoJson(<%- result[i].jsondata %>, {
    interactive: true,
    onEachFeature: notixxx
    
    ,style: {
        pane: 'pane<%- result[i].idkey %>',
        opacity: 1,
        color: '<%- result[i].color %>',
        weight: 15.0,
        fillOpacity: 0.5,
        interactive: true,
    }

    ,pointToLayer: function (feature, latlng) {
        var context = {
            feature: feature,
            variables: {}
        };
        return L.circleMarker(latlng, style<%- result[i].idkey %> (feature));
    },

    }).addTo(map);

    function style<%- result[i].idkey %> () {
        return {
            radius: 5.0,
            color: '<%- result[i].color %>',
            weight: 2.0,
            fill: true,
            fillOpacity: 0.5,
            fillColor: '<%- result[i].color %>',
            interactive: true,
        }
    }
    '<% } %>'
</script>

<script>

    function deleteConfirm(idkeyx) {
        if (confirm('คำเตือน: กระบวนการนี้ไม่สามารถย้อนกลับได้ ต้องการลบข้อมูลใช่หรือไม่?') == true) {
            window.location.href = '/drop/'+idkeyx;
        } 
        else {
        }
    }
    
    function reportDataConfirm(idkeyx) {
        if (confirm('เริ่มการวิเคราะห์ข้อมูลเชิงพื้นที่ ขั้นตอนนี้ใช้ทรัพยากรหน่วยประมวลผล และเวลาค่อนข้างมาก ดำเนินการต่อหรือไม่') == true) {
            window.location.href = '/checkdetail?idkey='+idkeyx;
        } 
        else {
        }
    }

    function gotoEdit(idkeyx){
        if (confirm('โปรดรอขณะเตรียมฐานข้อมูล... ดำเนินการต่อหรือไม่') == true) {
            window.location.href = '/edit/'+idkeyx;
        }
        else {
        }
    }


</script>
<script>
    $("#showmap").hide();

    function showmap(){
        $("#showmap").hide();
        $("#hidemap").show();
    }

    function hidemap(){
        $("#hidemap").hide();
        $("#showmap").show();
    }

</script>

<%- include('layout/footer.ejs')%>