<%- include('layout/head.ejs')%>
<%- include('layout/navbar.ejs')%>

<% if (jsondata === '') { %>

<div style="">
    <div class='container d-flex justify-content-center mt-4'>
        <div class="bg-light p-2 rounded-3 shadow border" style="height: auto; width: 100%;">
        <div class="text-end p-3"></div>
        
    <p class='text-center h5 p-3'><img src='images/shp.svg' height='40px' width='40px'><b><u> นำเข้าข้อมูลจาก Shape file</u></b></p>
    <div class='alert alert-secondary p-2 m-2 text-center' style="display:none;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> ฟังก์ชั่นนี้กำลังจะติดต่อกับบริการเว็บภายนอก โปรดใช้ด้วยความระมัดระวัง</div> 

    <div class='m-3'>
        <form method='POST' action='/check_shp' enctype="multipart/form-data">
            <div class="mb-3">

                <div class='my-4'><b><u>คำอธิบายการนำเข้าข้อมูล</u></b></div>
                <div class='mt-1 ms-4'>- Shape file ที่สามารถนำเข้าได้ต้องอยู่ในรูปของเอกสารบีบอัด (.zip)</div>
                <div class='mt-1 ms-4'>- ไม่อนุญาตให้อัพโหลดไฟล์ที่มีขนาดเกิน 20MB</div>
                <div class='mt-1 ms-4'>- กรุณาตรวจสอบไฟล์ในเอกสารบีบอัด หากพบไฟล์ประเภทอื่นเช่น ไฟล์เอกสาร ไฟล์รูปภาพ ไฟล์อื่นๆ ที่ไม่เกี่ยวข้อง กรุณานำออกก่อนอัพโหลด ไฟล์ที่ไม่เกี่ยวข้องดังกล่าว อาจทำให้ไฟล์บีบอัดมีขนาดมากกว่า 20MB</div>
                <div class='mt-1 ms-4'>- ข้อมูลที่จะนำเข้า รองรับ Shape file ครั้งละ 1 เรื่องเท่านั้น (ในเอกสารบีบอัด มี Shape file 1 เรื่องเท่านั้น) หากมีหลายเรื่อง กรุณาแยกนำเข้า</div>
                <div class='mt-1 ms-4'>- <u style='color: red;'><b>ข้อสำคัญ</b> ไม่บีบอัด Shape file ที่โฟลเดอร์ หรือบีบอัดมาทั้งโฟลเดอร์</u> (บีบอัดจาก Shape file ย่อยที่มี 6-8 ไฟล์เท่านั้น) ระบบไม่สามารถหา Shape file ในโฟลเดอร์ได้</div>
                <div class='mt-1 ms-4 mb-5'>- ทำตามคำอธิบายทุกข้อแล้ว แต่ยังพบปัญหาในการนำเข้า กรุณาติดต่อศูนย์ภูมิสารสนเทศฯ</div>

                <label for="formFile" class="form-label my-3">เลือกไฟล์ที่ต้องการนำเข้า (.zip เท่านั้น)</label>
                <input class="form-control" type='file' name="fileToUpload" id="fileToUpload" accept=".zip" required>
                <label for="formFile" class="form-label my-3"></label>

            </div>
    </div>
    <div class='text-center mt-1 mb-3'><input type='submit' class='btn btn-warning' value='อ่านคำอธิบายครบทุกข้อแล้ว ดำเนินการต่อ'></div>
    </div>
    </div>

        </form>
</div>

<% } else { %>

<% if (type == 'point') { %>

    <!-- ส่วนของข้อมูลแบบ point -->
<div id="point_sel" style="">
    <div class='container d-flex justify-content-center mt-4'>
        <div class="bg-light p-2 rounded-3 shadow border" style="height: auto; width: 100%; ">
            <div class="text-end p-3">
        </div>
        <p class='text-center h5 p-3'><img src='images/point.svg' height='40px' width='40px'><b><u>เพิ่มข้อมูลจุด (Point)</u></b></p>
        <div class='alert alert-success p-2 m-2 text-center'><i class="fa fa-check-square" aria-hidden="true"></i> Shape file ที่เพิ่มเข้ามาสามารถใช้งานได้ กรุณากรอกข้อมูลเบื้องต้นก่อนดำเนินการในขั้นตอนถัดไป</div>  
        <form class="text-center" action='/check_newData/point' method="POST" id="formPoint">
            <div class="input-group p-2">
                <div class="input-group-prepend"><span class="input-group-text">ชื่อหน่วยงาน</span></div>
                <select class='form-select' name='off' required>
                    <% Object.values(offdata).forEach(function(item) {%>
                    <option value='<%=item.loginkey %>'><%=item.off %></option>
                    <% }) %>
                </select>
            </div>
            <div class="input-group p-2">
                <div class="input-group-prepend"><span class="input-group-text">ชื่อกิจกรรม</span></div>
                <select class='form-select' name='act' required>
                    <% Object.values(actdata).forEach(function(item) {%>
                    <% if (item.acttype == 'point') { %>
                        <option value='<%=item.actkey %>'><%=item.actname %></option>
                    <% } else { %>  
                    <% } %>
                    <% }) %>
                </select>
            </div>
            <div class="input-group p-2">
                <div class="input-group-prepend"><span class="input-group-text">ปีงบประมาณ พ.ศ.</span></div>
                <select class='form-select' name='year' required>
                    <% for(var i=0; i < year.length; i++) { %>
                    <option value='<%= year[i] %>' <% if (i == 2) { %> selected <% } %>><%= year[i] %></option>
                    <% } %>
                </select>
            </div>
            <div class="input-group p-2">
                <div class="input-group-prepend"><span class="input-group-text">จำนวนตามงบประมาณที่ได้รับ (แห่ง)</span></div>
                <input class="form-control" type="number" min='1' maxlength="6" name="amount" required>
            </div>
            <div class="input-group p-2">
                <div class="input-group-prepend"><span class="input-group-text">หมายเหตุ</span></div>
                <input class="form-control" type="text" maxlength="60"  name="note" placeholder="(ถ้ามี)" pattern="[A-Za-z0-9ก-๙]+">
            </div>
            <input type="hidden" name="check_xy" value="1">
            <input type="hidden" name="auto_d" value="1">
            <input type="hidden" name="json_upload" value="1">
            <input type="hidden" name="jsondata" value="<%= jsondata %>">
        
        <div class='text-center'>
            <div class='p-2'><button onclick="doSubmit('formPoint')" class="btn btn-warning">ถัดไป</button>
            <a class="btn btn-secondary" onclick="chooseItem('')">ย้อนกลับ</a>
        </div>
                
        </form>
        </div>
    </div>
    </div>

<% } else if (type == 'line') { %>


    <div id="ppp" style="">
        <div class='container d-flex justify-content-center mt-4'>
            <div class="bg-light p-2 rounded-3 shadow border" style="height: auto; width: 100%;">
                <div class="text-end p-3">
            </div>
            <p class='text-center h5 p-3'><img src='images/line.svg' height='40px' width='40px'><b><u>เพิ่มข้อมูลเส้น (Line)</u></b></p>
            <div class='alert alert-success p-2 m-2 text-center'><i class="fa fa-check-square" aria-hidden="true"></i> Shape file ที่เพิ่มเข้ามาสามารถใช้งานได้ กรุณากรอกข้อมูลเบื้องต้นก่อนดำเนินการในขั้นตอนถัดไป</div>  
            <form class="text-center" action='/check_newData/line' method="POST" id="'formLine">
                <div class="input-group p-2">
                    <div class="input-group-prepend"><span class="input-group-text">ชื่อหน่วยงาน</span></div>
                    <select class='form-select' name='off' required>
                        <% Object.values(offdata).forEach(function(item) {%>
                        <option value='<%=item.loginkey %>'><%=item.off %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="input-group p-2">
                    <div class="input-group-prepend"><span class="input-group-text">ชื่อกิจกรรม</span></div>
                    <select class='form-select' name='act' required>
                        <% Object.values(actdata).forEach(function(item) {%>
                        <% if (item.acttype == 'line') { %>
                            <option value='<%=item.actkey %>'><%=item.actname %></option>
                        <% } else { %>  
                        <% } %>
                        <% }) %>
                    </select>
                </div>
                <div class="input-group p-2">
                    <div class="input-group-prepend"><span class="input-group-text">ปีงบประมาณ พ.ศ.</span></div>
                    <select class='form-select' name='year' required>
                        <% for(var i=0; i < year.length; i++) { %>
                            <option value='<%= year[i] %>' <% if (i == 2) { %> selected <% } %>><%= year[i] %></option>
                        <% } %>
                    </select>
                </div>
                <div class="input-group p-2">
                    <div class="input-group-prepend"><span class="input-group-text">จำนวนตามงบประมาณที่ได้รับ (กิโลเมตร)</span></div>
                    <input class="form-control" type="number" min='1' maxlength="6" name="amount" required>
                </div>
                <div class="input-group p-2">
                    <div class="input-group-prepend"><span class="input-group-text">หมายเหตุ</span></div>
                    <input class="form-control" type="text" maxlength="60"  name="note" placeholder="(ถ้ามี)" pattern="[A-Za-z0-9ก-๙]+">
                </div>
                <input type="hidden" name="check_xy" value="1">
                <input type="hidden" name="auto_d" value="1">
                <input type="hidden" name="json_upload" value="1">
                <input type="hidden" name="jsondata" value="<%= jsondata %>">

            <div class='text-center'>
                <div class='p-2'><button onclick="doSubmit('formLine')" class="btn btn-warning">ถัดไป</button>
                <a class="btn btn-secondary" onclick="chooseItem('')">ย้อนกลับ</a>
            </div>
                    
            </form>
        </div>
        </div>
    </div>


<% } else { %>

    <div id="polygon_sel" style="">
        <div class='container d-flex justify-content-center mt-4'>
            <div class="bg-light p-2 rounded-3 shadow border" style="height: auto; width: 100%;">
                <div class="text-end p-3">
            </div>
            <p class='text-center h5 p-3'><img src='images/polygon.svg' height='40px' width='40px'><b><u>เพิ่มข้อมูลรูปร่าง (Polygon)</u></b></p>
            <div class='alert alert-success p-2 m-2 text-center'><i class="fa fa-check-square" aria-hidden="true"></i> Shape file ที่เพิ่มเข้ามาสามารถใช้งานได้ กรุณากรอกข้อมูลเบื้องต้นก่อนดำเนินการในขั้นตอนถัดไป</div>  
            <form class="text-center" action='/check_newData/polygon' method="POST" id="formPolygon">
                <div class="input-group p-2">
                    <div class="input-group-prepend"><span class="input-group-text">ชื่อหน่วยงาน</span></div>
                    <select class='form-select' name='off' required>
                        <% Object.values(offdata).forEach(function(item) {%>
                        <option value='<%=item.loginkey %>'><%=item.off %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="input-group p-2">
                    <div class="input-group-prepend"><span class="input-group-text">ชื่อกิจกรรม</span></div>
                    <select class='form-select' name='act' required>
                        <% Object.values(actdata).forEach(function(item) {%>
                        <% if (item.acttype == 'polygon') { %>
                            <option value='<%=item.actkey %>'><%=item.actname %></option>
                        <% } else { %>  
                        <% } %>
                        <% }) %>
                    </select>
                </div>
                <div class="input-group p-2">
                    <div class="input-group-prepend"><span class="input-group-text">ปีงบประมาณ พ.ศ.</span></div>
                    <select class='form-select' name='year' required>
                        <% for(var i=0; i < year.length; i++) { %>
                            <option value='<%= year[i] %>' <% if (i == 2) { %> selected <% } %>><%= year[i] %></option>
                        <% } %>
                    </select>
                </div>
                <div class="input-group p-2">
                    <div class="input-group-prepend"><span class="input-group-text">จำนวนตามงบประมาณที่ได้รับ (ไร่)</span></div>
                    <input class="form-control" type="number" min='1' maxlength="6" name="amount" required>
                </div>
                <div class="input-group p-2">
                    <div class="input-group-prepend"><span class="input-group-text">หมายเหตุ</span></div>
                    <input class="form-control" type="text" maxlength="60"  name="note" placeholder="(ถ้ามี)" pattern="[A-Za-z0-9ก-๙]+">
                </div>
                <input type="hidden" name="check_xy" value="1">
                <input type="hidden" name="auto_d" value="1">
                <input type="hidden" name="json_upload" value="1">
                <input type="hidden" name="jsondata" value="<%= jsondata %>">
            
            <div class='text-center'>
                <div class='p-2'><button onclick="doSubmit('formPolygon')" class="btn btn-warning">ถัดไป</button>
                <a class="btn btn-secondary" onclick="chooseItem('')">ย้อนกลับ</a>
            </div>
                    
            </form>
        </div>
        </div>
    </div>


<% } %>

<% } %>



<script type="text/javascript">
    const actualBtn = document.getElementById('fileToUpload');

        $('#fileToUpload').on('change', function() {
 
            const size =
               (this.files[0].size / 1024 / 1024).toFixed(2);
 
            if (size > 20) {
                alert("ไฟล์ที่เลือกไม่สามารถใช้งานได้ เนื่องจากมีขนาดมากกว่า 20MB กรุณานำไฟล์ที่ไม่เกี่ยวข้องออกจากไฟล์ดังกล่าวก่อน");
                $("#fileToUpload").replaceWith($("#fileToUpload").val('').clone(true));
                
            } else {
            }
        });
</script>

<%- include('layout/footer.ejs')%>